@import url("../fonts/stylesheet.css");

.navbar-fixed-top.scrolled {
    background-color: #030f47 !important;
    transition: background-color 200ms linear;
}




:host {
    --day-width: 60px;
    --day-height: 60px;
}


