@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
.calendar>.days-grid>.day {
    @apply w-[60px] h-[60px] max-w-[60px] max-h-[60px];
}
